<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p> I'm not the most intelligent person</p> <em>but that's all right, </em> overtime I will become those intelligent people.
    Keep in mind - in order to better yourself you must not go through life but walk through life.</p>
  </div>
  

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div> 

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://www.paypal.me/acney"><%= fa_icon "paypal" %></a></li>
      <li><a href="https://github.com/18cbassa"><%= fa_icon "github-alt" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>